@import url('https://fonts.googleapis.com/css?family=Roboto');
$neutro : 0;
*{
	margin: $neutro;
	padding: $neutro;
	font-family: "Roboto";
}
.menu-responsive {
	display: none;
}
nav {
	position: fixed;
	width: 100%;
	background: steelblue;
	z-index: 1000;
	ul{
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		.ri {
			position: relative;
			left: 44%;
		}
		li{
			float: left;
			a{
				text-decoration: none;
				color: #fff;
				display: block;
				text-align: center;
				padding: 20px;
				font-size: 20px;
				&:hover:not(.iglesia) {
					background: lightgrey;
				}
			}
		}
	}
}
.slider{
	padding-top: 4.5%;
	margin: auto;
	width: 100%;
	overflow: hidden;
	ul {
		display: flex;
		padding: 0;
		width: 400%;
		animation: slider 20s infinite alternate;
		li{
			list-style: none;
			width: 100%;
			.title1 {
				position: relative;
				bottom: 70%;
				left: 22%;
				font-size: 30px;
				color: white;
				text-shadow: lightgrey 3px 3px 3px;
				text-shadow: black 2px 2px 2px;
			}
			.text1 {
				position: relative;
				bottom: 60%;
				left: 22%;
				font-size: 30px;
				p {
					padding-right: 30%;
					color: white;
					text-shadow: lightgrey 3px 3px 3px;
					text-shadow: black 2px 2px 2px;
				}
			}
			.btn1 {
				position: relative;
				bottom: 40%;
				left: 80%;
				button {
					background: rgba(255,255,255,0);
					padding: 20px;
					cursor: pointer;
					font-size: 30px;
					font-family: 'Roboto', sans-serif;
					border-radius: 26%;
					border: solid 3px lightblue;
					&:hover {
						background: black;
						color: white;
					}
				}
			}
			img{
				width: 1200px;
				height: 650px;
			}
		}
	}
}
.slider ul li img {
	width: 100%;
}
/* @keyframes slider {
	0% {margin-left: 0% ;}
	20% {margin-left: 0% ;}

	25% {margin-left: -100% ;}
	50% {margin-left: -100% ;}

	55% {margin-left: -200% ;}
	70% {margin-left: -200% ;}

	75% {margin-left: -300% ;}
	100% {margin-left: -300% ;}
} */
section {
	padding: 70px;
}